@model PROG7312_ICE_TASK_2.Models.FamilyTreeNode<PROG7312_ICE_TASK_2.Models.FamilyMember>

<link rel="stylesheet" href="~/css/style.css" />


<div class="family-tree-container">
    <h2 class="text-center mt-4 mb-4">Royal Family Tree</h2>
    @Html.Partial("FamilyTree", Model)
</div>